# Python Basics

## Variables

Use the `=` sign to store anything inside a variable.

In [1]:
myvar = 5
print(myvar)

5

Use descriptive variable names and avoid spaces! You can try:

```
snake_case
camelCase
OrEven_mix_it_up
```

Variables have distinct types, and you can find out a variable's data type with the `type()` function.

In [2]:
type(myvar)

int

In [3]:
stringvar = "five"
type(stringvar)

str

## Comments

Use the `#` sign at the start of a line to create a comment.

In [4]:
# This variable contains a continuous value
some_variable = 2.5

You can use comments to keep track of what you're using, leave a note for someone working after you, and especially to *create a citation if the code you're using isn't your own*.

# Data Structures

Python contains several useful data structures. These overlap with the data structures available in other languages, but they often have different names.

## Lists

Lists are analogous to arrays in other languages. They use brackets to contain ordered lists of data.

In [5]:
mylist = [5,6,7]

secondlist = ["cat","dog","fish"]

print(mylist)

[5, 6, 7]

In a list, you can easily access items using "list slicing," a bracket notation that lets you access list items with their index.

In [6]:
# Get the first item in a list, at index 0
mylist[0]

5

In [14]:
# Get several items in a list, with a range of values
secondlist[1:3]

['dog', 'fish']

In [15]:
# Get items from the end of a list with negative values
mylist[-1]

7

n.b. Python also has *tuples*, which are a lot like lists but use parentheses instead of brackets. i.e. `(1, 2, 3)`

## Sets

Sets are like lists, but they include only unique items. They use braces instead of brackets.

In [16]:
myset = {1, 2, 3, 4}
print(myset)

{1, 2, 3, 4}

You can turn a list into a set to get only the unique items in that list:

In [18]:
repeating_list = [1, 2, 1, 3, 3, 5, 4, 6, 4, 1]
set(repeating_list)

{1, 2, 3, 4, 5, 6}

Sets have special operators to combine sets and find intersections.

In [24]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Items in either set
set1 | set2

{1, 2, 3, 4, 5}

In [21]:
# Items in both sets
set1 & set2

{3}

In [22]:
# Items in one set but not the other
set1 - set2

{1, 2}

In [23]:
# Items in either set but not both
set1 ^ set2

{1, 2, 4, 5}

## Dictionaries

Dictionaries are analogous to objects in other languages. They contain key-value pairs, and they're also surrounded by brackets.

In [25]:
mydictionary = {"pet_name": "Fido", "age": 5, "pet_type": "dog"}
print(mydictionary)

{'pet_name': 'Fido', 'age': 5, 'pet_type': 'dog'}

You can access items in a dictionary using bracket notation, similar to list slicing.

In [26]:
mydictionary["pet_name"]

'Fido'

In [27]:
mydictionary["age"]

5

## Generators

Some functions and methods in Python output generators instead of a distinct data type. These generators often need to be converted to a specific data type before they can be used.

For example, the dictionary method `.values()` gets the values of a dictionary as a generator:

In [30]:
mydictionary.values()

dict_values(['Fido', 5, 'dog'])

We can see those values above, but we can't access them in the way we would a list. The code below will throw an error:

In [31]:
mydictionary.values()[1]

TypeError: 'dict_values' object is not subscriptable

To make this work, we need to convert the generator into a list:

In [32]:
dict_values = mydictionary.values()
dict_values = list(dict_values)

dict_values[1]

5

# Functions, Loops, and Conditions